/* Including styles files */
@import url(../../libs/slick-carousel/slick/slick.css);
@import url(../../libs/slick-carousel/slick/slick-theme.css);
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@import url(../../libs/jquery.form-styler/dist/jquery.formstyler.css);
@import url(../../libs/jquery.form-styler/dist/jquery.formstyler.theme.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
.icon-arrow-down {
  background-image: url(../../img/sprite.png);
  background-position: -296px -144px;
  width: 22px;
  height: 14px; }

.icon-arrow-left {
  background-image: url(../../img/sprite.png);
  background-position: -306px -123px;
  width: 12px;
  height: 19px; }

.icon-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: -285px -182px;
  width: 12px;
  height: 19px; }

.icon-bell-musical-tool {
  background-image: url(../../img/sprite.png);
  background-position: -42px -234px;
  width: 39px;
  height: 44px; }

.icon-call-orange {
  background-image: url(../../img/sprite.png);
  background-position: -108px -130px;
  width: 51px;
  height: 48px; }

.icon-call-white {
  background-image: url(../../img/sprite.png);
  background-position: -57px -130px;
  width: 51px;
  height: 48px; }

.icon-checkbox-green {
  background-image: url(../../img/sprite.png);
  background-position: -296px -171px;
  width: 11px;
  height: 11px; }

.icon-checkbox-orange {
  background-image: url(../../img/sprite.png);
  background-position: -298px -201px;
  width: 13px;
  height: 13px; }

.icon-checkbox-white {
  background-image: url(../../img/sprite.png);
  background-position: -285px -201px;
  width: 13px;
  height: 13px; }

.icon-checked {
  background-image: url(../../img/sprite.png);
  background-position: -285px -123px;
  width: 21px;
  height: 21px; }

.icon-doctor-orange {
  background-image: url(../../img/sprite.png);
  background-position: -82px -278px;
  width: 40px;
  height: 38px; }

.icon-doctor-white {
  background-image: url(../../img/sprite.png);
  background-position: -42px -278px;
  width: 40px;
  height: 38px; }

.icon-dots {
  background-image: url(../../img/sprite.png);
  background-position: -285px -144px;
  width: 11px;
  height: 38px; }

.icon-facebook {
  background-image: url(../../img/sprite.png);
  background-position: -285px -214px;
  width: 10px;
  height: 14px; }

.icon-fifteen {
  background-image: url(../../img/sprite.png);
  background-position: -74px -79px;
  width: 61px;
  height: 49px; }

.icon-girl {
  background-image: url(../../img/sprite.png);
  background-position: 0px -79px;
  width: 74px;
  height: 51px; }

.icon-heart-care {
  background-image: url(../../img/sprite.png);
  background-position: -234px -167px;
  width: 48px;
  height: 39px; }

.icon-home {
  background-image: url(../../img/sprite.png);
  background-position: -234px 0px;
  width: 51px;
  height: 39px; }

.icon-hospital-ambulance {
  background-image: url(../../img/sprite.png);
  background-position: -81px -234px;
  width: 51px;
  height: 33px; }

.icon-hospital-buildings {
  background-image: url(../../img/sprite.png);
  background-position: -147px -186px;
  width: 54px;
  height: 38px; }

.icon-hospital-orange {
  background-image: url(../../img/sprite.png);
  background-position: -285px 0px;
  width: 39px;
  height: 42px; }

.icon-hospital-white {
  background-image: url(../../img/sprite.png);
  background-position: -285px -42px;
  width: 39px;
  height: 42px; }

.icon-man {
  background-image: url(../../img/sprite.png);
  background-position: -180px -60px;
  width: 49px;
  height: 61px; }

.icon-massage-orange {
  background-image: url(../../img/sprite.png);
  background-position: -97px -186px;
  width: 50px;
  height: 42px; }

.icon-massage-white {
  background-image: url(../../img/sprite.png);
  background-position: -47px -186px;
  width: 50px;
  height: 42px; }

.icon-med-orange {
  background-image: url(../../img/sprite.png);
  background-position: -159px -130px;
  width: 47px;
  height: 48px; }

.icon-med-white {
  background-image: url(../../img/sprite.png);
  background-position: 0px -186px;
  width: 47px;
  height: 48px; }

.icon-medic-suitcase {
  background-image: url(../../img/sprite.png);
  background-position: 0px -278px;
  width: 42px;
  height: 38px; }

.icon-nurse-attends {
  background-image: url(../../img/sprite.png);
  background-position: -234px -39px;
  width: 42px;
  height: 46px; }

.icon-pipette-orange {
  background-image: url(../../img/sprite.png);
  background-position: -234px -85px;
  width: 47px;
  height: 41px; }

.icon-pipette-white {
  background-image: url(../../img/sprite.png);
  background-position: -234px -126px;
  width: 47px;
  height: 41px; }

.icon-planet {
  background-image: url(../../img/sprite.png);
  background-position: 0px -130px;
  width: 57px;
  height: 56px; }

.icon-plus-orange {
  background-image: url(../../img/sprite.png);
  background-position: 0px -234px;
  width: 42px;
  height: 44px; }

.icon-plus-white {
  background-image: url(../../img/sprite.png);
  background-position: -135px -79px;
  width: 42px;
  height: 44px; }

.icon-quote-after {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 90px;
  height: 79px; }

.icon-quote-before {
  background-image: url(../../img/sprite.png);
  background-position: -90px 0px;
  width: 90px;
  height: 79px; }

.icon-star-orange {
  background-image: url(../../img/sprite.png);
  background-position: -122px -278px;
  width: 40px;
  height: 37px; }

.icon-star-white {
  background-image: url(../../img/sprite.png);
  background-position: -162px -278px;
  width: 40px;
  height: 37px; }

.icon-stethoscope {
  background-image: url(../../img/sprite.png);
  background-position: -180px 0px;
  width: 54px;
  height: 60px; }

.icon-tablet-and-pill {
  background-image: url(../../img/sprite.png);
  background-position: -285px -84px;
  width: 36px;
  height: 39px; }

.icon-twitter {
  background-image: url(../../img/sprite.png);
  background-position: -296px -158px;
  width: 19px;
  height: 13px; }

.icon-vk {
  background-image: url(../../img/sprite.png);
  background-position: -297px -182px;
  width: 18px;
  height: 12px; }

/* Including fonts */
@font-face {
  src: url("../../fonts/georgia.ttf");
  font-family: Georgia; }

/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #2c2c2c;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.inline-block {
  display: inline-block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    display: inline-block;
    font-size: 16px;
    list-style-type: none; }

a {
  color: #2c2c2c;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.input, .button, .slick-slide, .textarea {
  outline: none; }

/* Grid */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.row_line {
  text-align: center;
  font-size: 0; }

.col {
  float: left;
  display: block;
  min-height: 1px; }
  .col_line {
    min-height: 1px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px; }
  .col-1 {
    width: 100%; }
  .col-2 {
    width: 50%; }
  .col-3 {
    width: 33.33333%; }
  .col-4 {
    width: 25%; }
  .col-5 {
    width: 20%; }

.fz0 {
  font-size: 0; }

/* Form elements */
.input {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  line-height: 51px;
  padding: 0 25px;
  -webkit-border-radius: 30px;
          border-radius: 30px; }
  .input_white {
    color: white;
    border: 1px solid #ffffff; }
    .input_white::-webkit-input-placeholder {
      color: white; }
    .input_white::-moz-placeholder {
      color: white; }
    .input_white:-ms-input-placeholder {
      color: white; }
    .input_white::placeholder {
      color: white; }
  .input_orange {
    border: 1px solid #f3821c; }
    .input_orange::-webkit-input-placeholder {
      color: #2c2c2c; }
    .input_orange::-moz-placeholder {
      color: #2c2c2c; }
    .input_orange:-ms-input-placeholder {
      color: #2c2c2c; }
    .input_orange::placeholder {
      color: #2c2c2c; }

.textarea {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: block;
  background: transparent;
  resize: none;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  width: 100%;
  min-height: 215px;
  padding: 30px; }
  .textarea_white {
    color: white; }
    .textarea_white::-webkit-input-placeholder {
      color: white; }
    .textarea_white::-moz-placeholder {
      color: white; }
    .textarea_white:-ms-input-placeholder {
      color: white; }
    .textarea_white::placeholder {
      color: white; }
  .textarea_orange {
    border: 1px solid #f3821c; }
    .textarea_orange::-webkit-input-placeholder {
      color: #2c2c2c; }
    .textarea_orange::-moz-placeholder {
      color: #2c2c2c; }
    .textarea_orange:-ms-input-placeholder {
      color: #2c2c2c; }
    .textarea_orange::placeholder {
      color: #2c2c2c; }

.button {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  color: white; }
  .button_red {
    background-color: #d94409; }
    .button_red:hover {
      background-color: #a83507; }
  .button_orange {
    background-color: #f3821c; }
    .button_orange:hover {
      background-color: #d1690b; }
  .button_white {
    background: white;
    font-size: 18px;
    font-weight: 600;
    color: #d94409; }
  .button:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.checkbox, .radio {
  text-align: left; }
  .checkbox input, .radio input {
    display: none; }
    .checkbox input:checked + label:before, .radio input:checked + label:before {
      z-index: 3;
      opacity: 1; }
  .checkbox label, .radio label {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    padding-left: 19px;
    position: relative;
    cursor: pointer; }
    .checkbox label:before, .radio label:before {
      opacity: 0;
      z-index: 2;
      top: 3px;
      left: 0;
      content: '';
      position: absolute;
      -webkit-transition: .3s;
      transition: .3s; }
    .checkbox label:after, .radio label:after {
      z-index: 1;
      content: '';
      width: 13px;
      height: 13px;
      position: absolute;
      top: 3px;
      left: 0;
      background: white;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  .checkbox_white label:before, .radio_white label:before {
    background-image: url(../../img/sprite.png);
    background-position: -285px -201px;
    width: 13px;
    height: 13px; }
  .checkbox_green label:before, .radio_green label:before {
    background-image: url(../../img/sprite.png);
    background-position: -296px -171px;
    width: 11px;
    height: 11px; }
  .checkbox_green label:after, .radio_green label:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #679154; }
  .checkbox_orange label:before, .radio_orange label:before {
    z-index: 2;
    background-image: url(../../img/sprite.png);
    background-position: -298px -201px;
    width: 13px;
    height: 13px; }

.input, .textarea {
  -webkit-transition: .3s;
  transition: .3s; }

/* Blocks align */
.left {
  float: left; }

.right {
  float: right; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  font-weight: 600; }
  .title:after {
    content: '';
    width: 237px;
    border: 2px solid #f4b606;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; }
  .title_none:after {
    display: none; }

.panel {
  padding-top: 31px;
  padding-bottom: 17px; }
  .panel__nav {
    padding-top: 17px;
    margin-left: 91px; }
    .panel__nav li {
      margin-right: 28px; }
      .panel__nav li:last-of-type {
        margin-right: 0; }
  .panel__call {
    float: right;
    text-align: center;
    margin-right: 50px; }
  .panel__phone {
    margin-bottom: 9px; }
    .panel__phone a {
      border-bottom: 2px dotted #2e8d02; }
  .panel__button {
    line-height: 48px;
    width: 180px; }
  .panel_shadow {
    -webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12); }

.slide {
  color: white;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 110px; }
  .slide__title {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 25px; }
  .slide__subtitle {
    font-size: 24px;
    margin-bottom: 24px; }
  .slide__desc {
    font-weight: 300;
    margin-bottom: 45px; }
  .slide__button {
    width: 260px;
    line-height: 70px;
    font-size: 26px;
    margin-left: 0;
    -webkit-box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.28);
            box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.28);
    margin-bottom: 32px; }
    .slide__button:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .slide__text {
    position: relative;
    margin-left: auto;
    width: 195px;
    font-style: italic; }

.dots {
  margin-bottom: 0 !important; }
  .dots .slick-dots {
    bottom: 40px; }
    .dots .slick-dots li {
      width: 23px;
      height: 23px;
      background: transparent;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 1px solid white;
      -webkit-transition: .3s;
      transition: .3s; }
      .dots .slick-dots li button {
        width: auto;
        height: auto; }
        .dots .slick-dots li button:before {
          display: none; }
      .dots .slick-dots li.slick-active {
        background: white; }

.quote {
  background-color: #fefcf7;
  text-align: center;
  color: #414141;
  padding-top: 55px;
  padding-bottom: 50px; }
  .quote p {
    position: relative;
    max-width: 805px;
    font-size: 22px; }
    .quote p u {
      position: relative;
      z-index: 2;
      text-decoration: none; }
    .quote p span {
      font-weight: 300; }
  .quote .icon {
    z-index: 1;
    position: absolute; }
    .quote .icon-quote-before {
      left: -72px;
      top: -5px; }
    .quote .icon-quote-after {
      right: -72px;
      bottom: -25px; }

.services {
  padding-top: 80px;
  padding-bottom: 90px; }
  .services__title {
    margin-bottom: 63px; }
  .services__subtitle {
    font-size: 30px;
    text-align: center;
    margin-bottom: 44px; }
  .services__block_top {
    margin-bottom: 125px; }
    .services__block_top .services__list:before {
      content: '';
      display: block;
      background: url("../../img/bg/line-5.png") no-repeat center;
      width: 968px;
      height: 157px;
      margin-left: auto;
      margin-right: auto; }
    .services__block_top .services__col:nth-of-type(1) {
      padding-right: 42px; }
    .services__block_top .services__col:nth-of-type(2) {
      padding-right: 12px; }
    .services__block_top .services__col:nth-of-type(4) {
      padding-left: 12px; }
    .services__block_top .services__col:nth-of-type(5) {
      padding-left: 42px; }
  .services__block_bottom .services__list:before {
    content: '';
    display: block;
    background: url("../../img/bg/line-3.png") no-repeat center;
    width: 481px;
    height: 157px;
    margin-left: auto;
    margin-right: auto; }
  .services__block_bottom .services__col:nth-of-type(1) {
    padding-right: 12px; }
  .services__block_bottom .services__col:nth-of-type(3) {
    padding-left: 12px; }
  .services__col {
    width: 20%; }
  .services__item:hover .services__icon {
    background: white; }
    .services__item:hover .services__icon i {
      display: none; }
      .services__item:hover .services__icon i + i {
        display: inline-block; }
  .services__icon {
    width: 101px;
    height: 101px;
    line-height: 101px;
    font-size: 0;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.23);
    background-color: #f3821c;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 18px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: -5px; }
    .services__icon i + i {
      display: none; }
  .services__text {
    font-size: 14px;
    line-height: 18px; }

.steps {
  padding-top: 65px;
  padding-bottom: 50px;
  background-color: #f9fef6; }
  .steps__title {
    margin-bottom: 52px; }
  .steps__col {
    width: 33.33333%;
    margin-bottom: 120px; }
    .steps__col:nth-of-type(1) .steps__text {
      width: 242px;
      padding-top: 25px; }
    .steps__col:nth-of-type(1) .steps__hidden {
      padding-top: 35px; }
    .steps__col:nth-of-type(2) .steps__text {
      width: 220px;
      padding-top: 25px; }
    .steps__col:nth-of-type(2) .steps__hidden {
      padding-top: 50px; }
    .steps__col:nth-of-type(3) .steps__text {
      padding-top: 15px;
      padding-bottom: 0; }
    .steps__col:nth-of-type(3) .steps__num {
      font-size: 148px; }
    .steps__col:nth-of-type(3) .steps__hidden {
      padding-top: 25px;
      width: 350px; }
    .steps__col:nth-of-type(4) {
      padding-left: 120px; }
      .steps__col:nth-of-type(4) .steps__num {
        font-size: 157px; }
      .steps__col:nth-of-type(4) .steps__hidden {
        padding-top: 20px;
        width: 435px;
        text-align: left;
        padding-left: 60px;
        top: -70px; }
    .steps__col:nth-of-type(5) {
      padding-right: 120px; }
      .steps__col:nth-of-type(5) .steps__num {
        font-size: 159px; }
    .steps__col:nth-of-type(4), .steps__col:nth-of-type(5) {
      width: 50%; }
      .steps__col:nth-of-type(4) .steps__text, .steps__col:nth-of-type(5) .steps__text {
        width: 220px;
        min-height: 106px; }
      .steps__col:nth-of-type(4) .steps__num, .steps__col:nth-of-type(5) .steps__num {
        line-height: 70px; }
  .steps__item {
    position: relative; }
    .steps__item:hover .steps__hidden {
      opacity: 1;
      z-index: 2; }
  .steps__num {
    font-family: "Georgia", sans-serif;
    font-size: 200px;
    line-height: 95px;
    color: #f3ae6f; }
  .steps__num, .steps__text {
    display: inline-block;
    vertical-align: top; }
  .steps__text {
    width: 255px;
    min-height: 128px;
    font-size: 14px;
    line-height: 16px;
    border: 2px dashed #f3821c;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    padding: 20px 40px;
    text-align: left; }
  .steps__hidden {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: -2;
    position: absolute;
    top: -5px;
    right: 0;
    width: 275px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    min-height: 140px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.31);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.31);
    -webkit-border-radius: 60px;
            border-radius: 60px;
    background-color: rgba(46, 141, 2, 0.82);
    padding: 0 15px 25px;
    transition: .3s; }

.consultation {
  padding-top: 63px;
  padding-bottom: 80px;
  background: url("../../img/bg/consultation.png") no-repeat center; }
  .consultation__title {
    color: white;
    margin-bottom: 110px; }
  .consultation__elements {
    text-align: center; }
  .consultation__input {
    width: 225px;
    margin-right: 70px;
    margin-bottom: 10px; }
  .consultation__button {
    display: inline-block;
    vertical-align: top;
    line-height: 53px;
    width: 225px;
    margin-bottom: 10px; }
  .consultation__checkbox {
    text-align: center;
    color: white;
    margin-top: 35px; }

.why-we {
  padding-top: 65px; }
  .why-we__title {
    margin-bottom: 70px; }
  .why-we__list {
    margin-left: -24px;
    margin-right: -24px; }
  .why-we__col {
    width: 240px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 89px;
    min-height: 255px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #f3821c;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px; }
  .why-we__icon {
    line-height: 46px;
    margin-bottom: 14px; }
  .why-we__text {
    font-size: 14px;
    line-height: 18px;
    color: white; }

.shares__item {
  position: relative;
  color: white;
  background-color: #48613d;
  height: 440px; }

.shares__wrap {
  position: relative;
  z-index: 2;
  width: 465px;
  height: 440px;
  padding-left: 50px;
  padding-top: 64px;
  background-color: #48613d; }

.shares__title {
  text-align: left;
  margin-bottom: 24px; }

.shares__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 40px; }

.shares__button {
  width: 200px;
  line-height: 56px;
  margin-left: 0;
  font-size: 22px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.32);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.32); }

.shares__image {
  position: absolute;
  right: 0;
  top: 0; }
  .shares__image img {
    position: relative;
    z-index: 1; }

.shares .slick-dots {
  padding-left: 40%; }
  .shares .slick-dots li {
    margin-left: 13px;
    margin-right: 13px; }

.price {
  padding-top: 113px; }
  .price__title {
    margin-bottom: 54px; }
  .price__desc {
    width: 975px;
    color: white;
    background-color: #c05b04;
    padding-left: 65px;
    padding-top: 45px;
    padding-bottom: 40px;
    margin-bottom: 65px;
    padding-right: 70px; }
    .price__desc-content {
      width: 650px; }
    .price__desc-title {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px; }
    .price__desc-text {
      font-size: 16px;
      line-height: 26px; }
      .price__desc-text .xs {
        font-size: 14px;
        font-weight: 300; }
    .price__desc-num {
      float: right;
      width: 155px;
      height: 155px;
      line-height: 132px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 4px solid #ffffff;
      text-align: center;
      font-family: "Georgia", sans-serif;
      font-size: 140px;
      margin-top: 40px; }
  .price__table-one td {
    padding-top: 15px; }
  .price__table-two td {
    text-align: center;
    padding-top: 57px; }
    .price__table-two td:nth-of-type(1) {
      padding-top: 0; }
  .price__currency {
    width: 150px;
    line-height: 39px;
    background-color: #679154;
    font-weight: 600;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }
    .price__currency-select p {
      margin-bottom: 13px; }
    .price__currency-select .jq-selectbox {
      margin-right: 45px;
      text-align: left; }
      .price__currency-select .jq-selectbox__select {
        min-width: 210px; }
  .price__checkbox, .price__radio {
    text-align: center;
    margin-top: 6px; }
    .price__checkbox label, .price__radio label {
      font-size: 16px; }
      .price__checkbox label:before, .price__checkbox label:after, .price__radio label:before, .price__radio label:after {
        top: 6px; }
  .price__button {
    width: 290px;
    line-height: 54px;
    margin-left: 20px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2); }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table thead td {
    font-size: 20px;
    line-height: 22px;
    text-align: center !important;
    background-color: #679154;
    color: white; }
    .table thead td:nth-of-type(1) {
      color: #2c2c2c;
      background: white; }
  .table thead td, .table tbody td {
    padding: 12.5px 23px;
    border: 1px solid #191919;
    text-align: center; }
    .table thead td:nth-of-type(1), .table tbody td:nth-of-type(1) {
      text-align: left; }

.tar {
  text-align: right !important; }

.fw600 {
  font-weight: 600; }

.jq-selectbox {
  text-align: left; }
  .jq-selectbox__select {
    background: white;
    height: 30px;
    line-height: 28px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 0;
            border-radius: 0;
    padding-right: 30px;
    min-width: 98px; }
  .jq-selectbox__trigger {
    border-left: none;
    width: 26px; }
    .jq-selectbox__trigger-arrow {
      top: 12px;
      right: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 4.5px 0 4.5px;
      border-color: #679154 transparent transparent transparent; }
  .jq-selectbox__dropdown {
    -webkit-border-radius: 0;
            border-radius: 0; }
    .jq-selectbox__dropdown li {
      text-align: left;
      display: block; }
      .jq-selectbox__dropdown li:hover, .jq-selectbox__dropdown li.selected {
        background-color: #679154;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19); }
  .jq-selectbox__select, .jq-selectbox__dropdown {
    font-family: "Open Sans", sans-serif; }

.text-xs {
  font-size: 14px;
  font-weight: 300; }

.specialists {
  padding-top: 85px;
  margin-bottom: 150px; }
  .specialists__title {
    margin-bottom: 60px; }
  .specialists__list {
    margin-left: 100px;
    margin-right: 100px; }
  .specialists__item {
    text-align: center; }
  .specialists__image {
    position: relative; }
    .specialists__image img {
      z-index: 1;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 25px;
              border-radius: 25px; }
    .specialists__image:before {
      z-index: 2;
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      background: white;
      width: 100%;
      height: 100%;
      opacity: .5;
      -webkit-transition: .3s;
      transition: .3s; }
  .specialists .slick-arrow {
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    font-size: 0;
    border: 2px solid #f3821c;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
    top: 40%; }
    .specialists .slick-arrow:before {
      display: none; }
    .specialists .slick-arrow:hover {
      opacity: .7; }
  .specialists .slick-prev {
    left: -60px; }
  .specialists .slick-next {
    right: -60px; }
  .specialists .slick-active + .slick-active .specialists__image:before {
    opacity: 0; }
  .specialists .slick-active + .slick-active + .slick-active .specialists__image:before {
    opacity: .5; }
  .specialists__persona {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 5px; }
  .specialists__position {
    font-size: 14px;
    font-weight: 300; }

.achievements {
  margin-bottom: 140px; }
  .achievements__title {
    margin-bottom: 50px; }
  .achievements__col {
    width: 179px;
    min-height: 208px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-left: 21px;
    margin-right: 21px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    padding-top: 33px; }
  .achievements__icon {
    line-height: 61px;
    margin-bottom: 30px; }
  .achievements__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }

.reviews {
  color: white;
  background-color: #823e03;
  padding-top: 90px;
  padding-bottom: 120px; }
  .reviews__title {
    margin-bottom: 30px; }
  .reviews__item {
    text-align: center; }
  .reviews__image {
    position: relative;
    border: 4px solid #f4b606;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 261px;
    height: 261px;
    border: 60px solid #9a4904;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px; }
    .reviews__image > div {
      border: 8px solid #ae5304;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .reviews__image img {
      margin-left: auto;
      margin-right: auto;
      border: 4px solid #f4b606;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 124px;
      height: 124px; }
  .reviews__text {
    max-width: 605px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px; }
  .reviews__persona {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px; }
  .reviews .slick-dots {
    bottom: -70px; }
    .reviews .slick-dots li {
      width: auto;
      height: auto; }
      .reviews .slick-dots li.slick-active button {
        border-color: #f4b606;
        background-color: #f4b606; }
    .reviews .slick-dots button {
      width: 21px;
      height: 21px;
      background-color: #c05b04;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 2px solid #823e03;
      -webkit-transition: .3s;
      transition: .3s; }
      .reviews .slick-dots button:before {
        display: none; }

.review-back {
  color: white;
  padding-top: 80px;
  padding-bottom: 180px;
  background: url("../../img/bg/review-back.png") no-repeat center; }
  .review-back__title {
    margin-bottom: 80px; }
  .review-back__form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .review-back__input {
    margin-bottom: 50px; }
    .review-back__input.input_phone {
      float: right; }
  .review-back__textarea {
    margin-bottom: 35px; }
  .review-back__checkbox label {
    font-size: 14px; }
  .review-back__button {
    width: 250px;
    line-height: 68px;
    float: right;
    -webkit-border-radius: 35px;
            border-radius: 35px; }
  .review-back__checkbox, .review-back__button {
    display: inline-block;
    vertical-align: top; }

.faq {
  padding-top: 100px;
  padding-bottom: 85px; }
  .faq__title {
    margin-bottom: 65px; }
  .faq__list {
    width: 700px;
    margin-left: auto;
    margin-right: auto; }
  .faq__item {
    margin-bottom: 10px; }
    .faq__item:last-of-type {
      margin-bottom: 0; }
    .faq__item_active .faq__head:before {
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg); }
  .faq__head {
    position: relative;
    padding-left: 30px;
    font-size: 20px;
    cursor: pointer; }
    .faq__head:before {
      content: '';
      background-image: url(../../img/sprite.png);
      background-position: -296px -144px;
      width: 22px;
      height: 14px;
      position: absolute;
      top: 8px;
      left: 0;
      -webkit-transition: .3s;
      transition: .3s; }
  .faq__body {
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0 10px;
    display: none; }

.contacts {
  padding-top: 70px;
  padding-bottom: 150px;
  background-color: #f7f7f7; }
  .contacts__title {
    margin-bottom: 50px; }
  .contacts__text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 38px; }
    .contacts__text p {
      margin-bottom: 10px; }
      .contacts__text p:last-of-type {
        margin-bottom: 0; }
    .contacts__text span {
      font-size: 20px;
      font-weight: 400; }
  .contacts__form {
    width: 500px; }
  .contacts__subtitle {
    font-size: 20px;
    margin-bottom: 35px; }
  .contacts__input {
    width: 225px;
    margin-bottom: 35px; }
    .contacts__input.input_phone {
      float: right; }
  .contacts__textarea {
    margin-bottom: 25px; }
  .contacts__button {
    width: 230px;
    line-height: 59px;
    -webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.23);
            box-shadow: 0 2px 13px rgba(0, 0, 0, 0.23);
    float: right; }
  .contacts__checkbox, .contacts__button {
    display: inline-block;
    vertical-align: top; }
  .contacts__checkbox label:after {
    width: 9px;
    height: 9px;
    border: 2px solid #ff7c1e; }
  .contacts__map {
    float: right;
    width: 515px;
    margin-right: 40px; }

.footer {
  color: white;
  background-color: #252525;
  padding-top: 50px;
  padding-bottom: 40px; }
  .footer a {
    color: white; }
  .footer__requisites {
    line-height: 22px;
    margin-bottom: 13px; }
  .footer__copy {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #bdbdbd; }
  .footer__middle {
    text-align: center;
    padding-top: 25px; }
  .footer__socials {
    margin-bottom: 15px; }
    .footer__socials li {
      margin-left: 5px;
      margin-right: 5px; }
    .footer__socials a {
      display: block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background-color: #f3821c;
      text-align: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: .3s;
      transition: .3s; }
      .footer__socials a:hover {
        background-color: #2e8d02; }
  .footer__lic a {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #bdbdbd; }
    .footer__lic a:hover {
      color: white;
      border-color: white; }
  .footer__right {
    text-align: right; }
  .footer__email {
    font-size: 14px;
    margin-right: 18px; }
  .footer__callback {
    border-bottom: 2px dotted #2e8d02; }
    .footer__callback:hover {
      border-color: transparent; }
  .footer__policy {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    margin-top: 15px; }
    .footer__policy a {
      color: #bdbdbd; }
      .footer__policy a:hover {
        color: white;
        border-color: white; }

.popup {
  position: relative;
  -webkit-border-radius: 70px;
          border-radius: 70px;
  display: none; }
  .popup__close {
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #f3821c;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    top: 25px;
    right: 38px; }
    .popup__close span {
      position: absolute;
      display: block;
      width: 12px;
      height: 2px;
      background: white;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .popup__close span:nth-of-type(1) {
        top: 13px;
        left: 8px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .popup__close span:nth-of-type(2) {
        top: 13px;
        right: 8px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .popup__close:hover {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .popup__checkbox label:after {
    width: 9px;
    height: 9px;
    border: 2px solid #ff7c1e; }
  .popup .fancybox-close-small {
    display: none; }
  .popup_callback {
    width: 340px;
    padding: 75px 65px 55px !important; }
    .popup_callback .popup__title {
      text-align: center;
      margin-bottom: 25px; }
    .popup_callback .popup__input {
      display: block;
      width: 100%;
      margin-bottom: 18px;
      font-size: 14px; }
    .popup_callback .popup__checkbox {
      margin-bottom: 30px; }
    .popup_callback .popup__button {
      width: 100%;
      line-height: 60px;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.17);
              box-shadow: 0 3px 8px rgba(0, 0, 0, 0.17); }
  .popup_thanks {
    width: 340px;
    text-align: center !important;
    padding: 0 !important; }
    .popup_thanks .popup__head {
      padding-top: 65px;
      padding-bottom: 25px;
      line-height: 16px; }
    .popup_thanks .popup__body {
      color: white;
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
      background-color: #f3821c;
      padding-top: 28px;
      padding-bottom: 32px; }
  .popup_share {
    width: 970px;
    padding: 43px 70px 55px !important; }
    .popup_share .popup__title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 25px; }
    .popup_share .popup__content {
      margin-bottom: 55px; }
    .popup_share .popup__image img {
      -webkit-border-radius: 75px;
              border-radius: 75px; }
    .popup_share .popup__text {
      float: right;
      width: 480px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300; }
      .popup_share .popup__text p {
        margin-bottom: 25px; }
        .popup_share .popup__text p:last-of-type {
          margin-bottom: 0; }
    .popup_share .popup__form {
      text-align: center;
      font-size: 0; }
      .popup_share .popup__form-top {
        margin-bottom: 32px; }
    .popup_share .popup__input {
      width: 225px;
      margin-right: 45px;
      font-size: 14px; }
      .popup_share .popup__input:last-of-type {
        margin-right: 0; }
    .popup_share .popup__checkbox {
      margin-right: 35px; }
    .popup_share .popup__checkbox, .popup_share .popup__button {
      display: inline-block;
      vertical-align: top; }
    .popup_share .popup__checkbox {
      position: relative;
      top: 8px; }
    .popup_share .popup__button {
      -webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.23);
              box-shadow: 0 2px 13px rgba(0, 0, 0, 0.23);
      width: 225px;
      line-height: 53px; }
  .popup_policy {
    width: 970px;
    padding: 43px 40px 55px !important; }
    .popup_policy .popup__title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 25px; }
    .popup_policy .popup__text {
      font-weight: 300;
      max-height: 500px;
      overflow-y: scroll;
      padding-right: 15px; }
      .popup_policy .popup__text p {
        margin-bottom: 20px; }
        .popup_policy .popup__text p:last-of-type {
          margin-bottom: 0; }

.order-list {
  padding-top: 90px;
  padding-bottom: 105px; }
  .order-list__title {
    margin-bottom: 60px; }
  .order-list__list {
    margin-bottom: 50px; }
    .order-list__list thead td {
      color: #2c2c2c;
      background: none;
      padding-top: 24px;
      padding-bottom: 24px; }
    .order-list__list tbody td:nth-of-type(1) {
      text-align: center; }
    .order-list__list tbody td:nth-of-type(2) {
      text-align: left; }
  .order-list__sum {
    width: 590px;
    margin-left: auto;
    margin-bottom: 60px; }
  .order-list__button {
    width: 265px;
    line-height: 54px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2); }
    .order-list__button.button_orange {
      float: left; }
    .order-list__button.button_red {
      float: right; }

.order-data {
  padding-top: 88px;
  padding-bottom: 105px;
  background-color: #f7f7f7; }
  .order-data__title {
    margin-bottom: 60px; }
  .order-data__subtitle {
    font-weight: 600;
    width: 274px;
    text-align: center;
    margin-bottom: 32px; }
  .order-data__col {
    width: 335px; }
    .order-data__col:nth-of-type(1) {
      margin-right: 180px; }
  .order-data__input {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;
    margin-left: 0;
    display: block; }
  .order-data__textarea {
    font-size: 14px;
    font-weight: 300;
    min-height: 120px;
    margin-bottom: 95px; }
  .order-data__checkbox label {
    font-size: 14px; }
  .order-data__button {
    margin-left: 0;
    line-height: 59px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2); }
  .order-data__input, .order-data__textarea, .order-data__button {
    width: 274px; }
